assets/
bin/
gen/
libs/
obj/

local.properties

.*.swp
.*~
*~
*.so
*.a
*.o
*.orig
*.rej


# Downloaded gradle wrapper
.gradle

# Android Studio project files
.idea
*.iml

# Gradle build files
build
.externalNativeBuild