!LuaJIT-2.1/android/armeabi-v7a/libluajit.a
!LuaJIT-2.1/android/x86/libluajit.a

LuaJIT-2.1/src/host/buildvm
LuaJIT-2.1/src/host/buildvm_arch.h
LuaJIT-2.1/src/host/minilua
LuaJIT-2.1/src/jit/vmdef.lua
LuaJIT-2.1/src/libluajit.a
LuaJIT-2.1/src/lj_bcdef.h
LuaJIT-2.1/src/lj_ffdef.h
LuaJIT-2.1/src/lj_folddef.h
LuaJIT-2.1/src/lj_libdef.h
LuaJIT-2.1/src/lj_recdef.h
LuaJIT-2.1/src/lj_vm.s
LuaJIT-2.1/src/luajit

love/src/Makefile.am

!libcurl/armeabi-v7a/libcurl.so
!libcurl/x86/libcurl.so

!openssl/armeabi-v7a/lib/libcrypto.a
!openssl/armeabi-v7a/lib/libssl.a
!openssl/x86/lib/libcrypto.a
!openssl/x86/lib/libssl.a